<!DOCTYPE html>
<html lang="en">

	<head>
        {% load staticfiles %}
		<meta charset="utf-8" />
		<title>登录|注册</title>
		<link type="text/css" href="{% static "login.css" %}"  rel="stylesheet" />
	</head>

	<body>
    {% load staticfiles %}
    {% csrf_token %}
		<div class="navbar">
			<div class="navbar-brand">
                <a href="#" class="index-login">首页</a>
            </div>
        </div>
        <div class="login">
        	<div class="login-main">
        	    <img src="{% static "LOGIN.png"%}"  class="login-img"/>
        		<input type="text" class="login-text" placeholder="请输入账号，不存在将创建"/>
        		<input type="password" class="password-text" placeholder="请输入密码"/>
        		<a href="#" class="click-none">
        		<img class="click" src="{% static "ENTER .png"%}">
        		<img class="click2" src="{% static "02.png"%}">
        		</a>
        	</div>
        </div>

		</main>
	</body>

</html>